body{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	background-color: #3cdbc0;
}
p{
	font-weight: 100;
	font-size: 1.7em;
}
h1{
	font-weight:900;
	text-align: center;
	font-size: 4em;
	color:#666;

}
h2{
	font-weight: 100;
	font-size: 3.5em;
	text-align: center;
	border-bottom: 3px solid #dfdfdf;
}
#content{
	background-color: #dfdfdf;
}
#myTask {
	list-style: none;
	background-color: #ff9999;
}
#myTask li{
	color:#666;
	font-family: inherit;
	font-weight: 100;
	font-size: 1.7em;
	border:1px solid #fff;
	text-align: center;
}
input[type="text"]{
	background-color: #ccc;

}
input[type="submit"]{
	background-color: #ff9999;
	width:150px;
	color:#fff;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	height:50px;
	border:2px solid #dfdfdf;
}
#footer{
	background-color: #dfdfdf;
	margin-top: 90px;
	padding:30px 20px 10px 20px;
}
#footer p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 1.4em;
	text-align: center;
}


